# Cloudflare Configuration
CF_DNS_API_TOKEN=your_cloudflare_dns_api_token
CF_GLOBAL_API_TOKEN=your_cloudflare_global_api_token
CF_API_EMAIL=your_email@example.com

# ProtonVPN Wireguard Configuration
WIREGUARD_PRIVATE_KEY=your_wireguard_private_key
WIREGUARD_ADDRESSES=protonvpn_address
WIREGUARD_COUNTRIES=protonvpn_country

# Email for Let's Encrypt
ACME_EMAIL=your_email@example.com

# Domain Configuration
JELLYFIN_DOMAIN=jellyfin.yourdomain.net
JELLYSEERR_DOMAIN=jellyseerr.yourdomain.net

# User/Group IDs
PUID=1000
PGID=1000

# Timezone
TZ=your_timezone

# *arr Application API Keys
SONARR_EN_1080P_API_KEY=your_sonarr_en_1080p_api_key
SONARR_DE_1080P_API_KEY=your_sonarr_de_1080p_api_key
SONARR_EN_2160P_API_KEY=your_sonarr_en_2160p_api_key
SONARR_DE_2160P_API_KEY=your_sonarr_de_2160p_api_key

RADARR_EN_1080P_API_KEY=your_radarr_en_1080p_api_key
RADARR_DE_1080P_API_KEY=your_radarr_de_1080p_api_key
RADARR_EN_2160P_API_KEY=your_radarr_en_2160p_api_key
RADARR_DE_2160P_API_KEY=your_radarr_de_2160p_api_key

# Legacy API Keys
LEGACY_SONARR_API_KEY=your_legacy_sonarr_api_key
LEGACY_RADARR_API_KEY=your_legacy_radarr_api_key
