# Ignore Docker volumes and app data
jellyfin/config/
jellyfin/cache/
jellyfin/media/
jellyseerr/config/
prowlarr/config/
radarr/config/
sonarr/config/
rdtclient/db/
downloads/
# Ignore letsencrypt for Traefik certs
letsencrypt/
# Ignore logs
*.log
# Ignore .env files
.env
# Ignore VPN configuration files
gluetun/servers.json